# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Node.js Package

on:
  release:
    types: [created]

jobs:
  publish-npm-latest:
    if: contains(github.event.release.tag_name, 'release')
    runs-on: ubuntu-latest
    environment: NPM_JS
    env:
      NPM_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
    
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      # Publish to NPMJS
        with:
          node-version: 16
          registry-url: 'https://registry.npmjs.org/'
      - name: Publish to NPMJS
        run: |
          npm config set //registry.npmjs.org/:_authToken=$NPM_AUTH_TOKEN
          npm config set scope "@fitpet"
          npm config list
          npm publish --access public 
      

  publish-npm-beta:
    if: ${{ github.event.release.tag_name == 'beta' }}
    runs-on: ubuntu-latest
 
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
          scope: '@fitpet'
      - run: npm publish --tag beta
        env:
          NPM_JS: ${{secrets.npm_token}}
